<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="app-shell">
  <mat-toolbar color="primary" class="header">
    <div class="mobile-header" *ngIf="isMobile">
      <div class="logo">
        <img src="assets/images/logo.png" />
      </div>

      <div class="space-gap">
        <ng-container *ngFor="let link of nav_module">

          <!-- Dropdown -->
          <ng-container *ngIf="link.submenus?.length; else normalMobile">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <i class="{{ link.icon }}"></i>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let sub of link.submenus" [routerLink]="[sub.route]">
                {{ sub.description }}
              </button>
            </mat-menu>
          </ng-container>

          <!-- Normal -->
          <ng-template #normalMobile>
            <button mat-icon-button [routerLink]="[link.route]">
              <i class="{{ link.icon }}"></i>
            </button>
          </ng-template>

        </ng-container>

        <!-- Search -->
        <button mat-icon-button (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>

        <!-- Menu -->
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>{{ isSidebarOpen ? 'close' : 'menu' }}</mat-icon>
        </button>

      </div>
    </div>

    <!-- DESKTOP -->
    <div class="desktop-header" *ngIf="!isMobile">

      <div class="logo">
        <img src="assets/images/logo.png" />
      </div>

      <div class="nav">
        <div class="nav-left">
          <app-search></app-search>
        </div>

        <div class="nav-center"></div>
        <div class="nav-right"></div>
        <ng-container *ngFor="let link of nav_module">

          <ng-container *ngIf="link.submenus?.length; else normalDesktop">
            <button mat-button [matMenuTriggerFor]="menu">
              <i class="{{ link.icon }}"></i> {{ link.description }}
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let sub of link.submenus" [routerLink]="[sub.route]">
                {{ sub.description }}
              </button>
            </mat-menu>
          </ng-container>

          <ng-template #normalDesktop>
            <button mat-button [routerLink]="[link.route]">
              <i class="{{ link.icon }}"></i> {{ link.description }}
            </button>
          </ng-template>

        </ng-container>

      </div>
    </div>

  </mat-toolbar>

  <!-- SIDEBAR -->
  <div class="sidebar" [class.active]="isSidebarOpen">

    <div class="side-header">
      <h3 class="side-title">Nexsuz</h3>
    </div>

    <div class="side-menu">
      <a class="menu-item" *ngFor="let link of nav_module" [routerLink]="[link.route]" routerLinkActive="active">
        <!-- <mat-icon class="menu-icon">{{ link.icon }}</mat-icon> -->
        <span class="menu-text">{{ link.description }}</span>
      </a>

    </div>

  </div>

  <!-- OVERLAY SEARCH -->
  <div class="search-overlay" *ngIf="isSearchOpen">
    <app-search></app-search>
    <button mat-icon-button (click)="toggleSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- MAIN CONTENT -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>