<div class="coming-soon-container">
  <div class="bg-blob blob-1"></div>
  <div class="bg-blob blob-2"></div>

  <div class="content-box fade-in">
    <div class="badge">
      <mat-icon>construction</mat-icon>
      <span>Under Construction</span>
    </div>

    <h1 class="title">Coming Soon</h1>

    <p class="subtitle">
      We're working hard to give you the best experience.<br>
      Stay tuned for updates!
    </p>

    <div class="countdown">
      <div class="time-box">
        <span class="time-value">{{ days }}</span>
        <small>Days</small>
      </div>
      <span class="time-sep">:</span>
      <div class="time-box">
        <span class="time-value">{{ hours }}</span>
        <small>Hours</small>
      </div>
      <span class="time-sep">:</span>
      <div class="time-box">
        <span class="time-value">{{ minutes }}</span>
        <small>Minutes</small>
      </div>
      <span class="time-sep">:</span>
      <div class="time-box">
        <span class="time-value">{{ seconds }}</span>
        <small>Seconds</small>
      </div>
    </div>

    <div class="action-row">
      <!-- <button mat-flat-button color="primary" (click)="goHome()">
        <mat-icon>home</mat-icon>
        Go Back Home
      </button> -->
      <button mat-raised-button color="basic" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Go Back
      </button>
    </div>
  </div>
</div>