<section class="hero-section-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 hero-content">
                <h1 class="hero-title">
                    Welcome to Nexsuz!<br>
                    <p class="hero-subtitle"> Your Home to your professional network</p>
                </h1>
                <div class="hero-buttons">
                     <button mat-raised-button color="primary" class="btn-cta" routerLink="/signin">
                        Get Started 
                    </button>

                    <button mat-button color="basic" class="btn-ghost" routerLink="/signin">
                        Sign In
                    </button>
                </div>
            </div>
            <!-- Right: signature animated image -->
            <div class="col-lg-6 col-md-6">
                <div class="hero-image">
                    <div class="img-box">
                        <img src="/assets/images/gif.gif" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>